@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import "font/style.css";

body {
	background: #232323;
	margin: 0;
	padding: 0;
	font: 14px/1.2 normal 'Roboto', sans-serif;
}

.icon-logo {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 75px;
	color: #555;
	transition: all 0.25s;
	-moz-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;
	text-decoration: none;
}
.icon-logo:hover {
	color: #aaaaaa;
}

h1 {
	background: #2a2a2a;
	padding: 20px 0;
	margin: 0;
	font-size: 20px;
	color: #aaa;
	text-align: center;
}

img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 75%;
	max-height: 75%;
	transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
	-ms-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	opacity: 1;
}
img.hidden {
	opacity: 0;
}

@media screen and (max-height: 500px) {
	h1 { display: none; }
	.icon-logo { display: none; }
}

p {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -30px;
	font-size: 40px;
	text-align: center;
	padding: 0 30px;
	color: #aaa;
}
